<%= form_for(@book, multipart: true) do |f| %>
  <div class="row">
    <div class="col-xs-6">
  
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="form-group field">
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => "form-control", :placeholder => "Ingrese en Título" %>
      </div>
        
      <div class="form-group field">
        <%= f.label :author %><br>
        
        
        <%= collection_select :book, :author_ids, 
                              Author.all, 
                              :id, :name, 
                              { :selected => @book.author_ids }, 
                              { :multiple => true, :name => 'book[author_ids][]', :class => "form-control"} %>

      </div>
      </br>
      <div class="form-inline">
        <div class="form-group">
          
          <%= f.label :editorial %>:
          <%= collection_select(:book, 
                                :editorial_id, 
                                Editorial.all, 
                                :id, 
                                :name, 
                                {},
                                {:class=>"form-control select-editorial"}
                              )%>
                                  
                                  
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
          <label >Agregar Nuevo:</label>
          <i class="fa fa-plus-square"></i>
        </div>
        
      </div>
      </br>
      <div class="form-group field">
        <%= f.label :original_title %><br>
        <%= f.text_field :original_title,  :class => "form-control", :placeholder => "Ingrese en Título Original" %>
      </div>
      <div class="form-group field">
        <%= f.label :translation %><br>
        <%= f.text_field :translation, :class => "form-control", :placeholder => "Traducción" %>
      </div>
      <div class="form-group field">
        <%= f.label :edition %><br>
        <%= f.number_field :edition,  :class => "form-control", :placeholder => "Número de Edición" %>
      </div>
      <div class="form-inline">
        <div class="form-group field">
          <%= f.label :edition_date %><br>
          
          <%= f.date_select :edition_date, 
                              { :order => [:day, :month, :year], 
                              :prompt => { :day => 'Día', :month => 'Mes', :year=>"Año" } },
                              {:class => "form-control"} %>
        </div>
      </div>  
      <div class="form-group field">
        <%= f.label :edition_place %><br>
        <%= f.text_field :edition_place, :class => "form-control", :placeholder => "Lugar de Edición" %>
      </div>
      <div class="form-group field">
        <%= f.label :publication_year %><br>
        <%= f.number_field :publication_year, :class => "form-control", :placeholder => "Año de Publicación"  %>
      </div>
      <div class="form-group field">
        <%= f.label :isbn %><br>
        <%= f.text_field :isbn,  :class => "form-control", :placeholder => "Numero de ISBN"  %>
      </div>
      <div class="actions">
        <%= f.submit :class=>"btn btn-primary" %>
      </div>
    </div> <!-- End row col-xs-4 --> 
    <div class="col-xs-6"> 
      <!-- <img src="don_t_make_me_think_by_mgl_23-d6838rg.jpg" class="img-responsive" alt="Responsive image"> -->
      <%= f.file_field :picture%>
    
      <div class="thumbnail container-big-picture">
        <%= image_tag @book.picture.url %>
      </div>  
    </div> <!-- End row col-xs-4 --> 
  </div>  <!-- End row form --> 

<% end %>
