<% content_for :title, "Lista de libros" %>
<div class="clearfix">...</div>
<div id="books_index">
  <h1><%= yield :title %></h1>

  <% if @books.blank? %>
    <div class="alert alert-warning">No hay libros que mostrar</div>
  <% else %>

    <div class="row">
      <div class="col-sm-12">      
        <div class="pull-left">
          <div class="form-group">      
            <%= form_tag books_path, :method => 'get', :id => "books_search" do %> <!--  -->
              <%= hidden_field_tag :direction, params[:direction] %>
              <%= hidden_field_tag :sort, params[:sort] %>
              <p>
                <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Ingrese el texto a buscar" %>
                <!-- #submit_tag "Search", :name => nil -->
              </p>
              
            <% end %>
          </div>
        </div>    
      </div>
    </div>

    <div id="books"><%= render "books"%></div>
   

  <% end %>
<div class="row">
  <div class="col-sm-12">      
    <%= link_to 'Agregar libro', new_book_path, class: 'btn btn-primary' %>
  </div>
</div>
  
</div>

